@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;

600;700&display=swap");
@font-face {
  font-family: "lato";
  font-display: swap;
  src: url("../fonts/latoregular.woff") format("woff"), url("../fonts/latoregular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "lato";
  font-display: swap;
  src: url("../fonts/latobold.woff") format("woff"), url("../fonts/latobold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FuturaPT";
  font-display: swap;
  src: url("../fonts/FuturaPT-Book.woff") format("woff"), url("../fonts/FuturaPT-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.header {
  position: absolute;
  width: 100%;
}

.header__container {
  padding: 25px 0px 0px 0px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin: 0px 0px 0px 0px;
}

.header__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.header__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 160px;
          flex: 0 0 160px;
}

.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-header__link {
  font-family: FuturaPT;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #00293f;
  margin: 0px 20px;
}

.menu-header__link:hover {
  text-decoration: underline;
}

/* Обнуляющий стиль */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol li,
ul li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  font-size: 16px;
  line-height: 1;
  font-family: Poppins;
}

input,
button,
textarea {
  font-family: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.header {
  position: absolute;
  width: 100%;
}

.header__container {
  padding: 25px 0px 0px 0px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin: 0px 0px 0px 0px;
}

.header__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.header__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 160px;
          flex: 0 0 160px;
}

.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-header__link {
  font-family: FuturaPT;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #00293f;
  margin: 0px 20px;
}

.menu-header__link:hover {
  text-decoration: underline;
}

/* -------------- */

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* -------------- */

._container {
  max-width: 1112px;
  margin: 0px auto;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked + .checkbox__label::before {
  content: "";
}

.btn {
  font-family: Gilroy;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.15)), color-stop(51.04%, rgba(255, 255, 255, 0))), #70c851;
  background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 51.04%), #70c851;
  background: linear-gradient(360deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 51.04%), #70c851;
  border-radius: 3px;
  padding: 0px 30px;
  color: #fff;
  max-height: 44px;
  line-height: 44px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn_s {
  -webkit-box-shadow: 0px 1px 20px rgba(121, 193, 95, 0.45);
          box-shadow: 0px 1px 20px rgba(121, 193, 95, 0.45);
}

.btn span {
  position: relative;
}

._no-webp .btn span:after{
  background: url("../img/arrow.png") right 0 no-repeat; }

.btn span:after {
  content: "";
  width: 12px;
  margin: 0px 0px 0px 10px;
  height: 12px;
  position: absolute;
  top: 17px;
  right: -25px;
}

.btn:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.15)), color-stop(51.04%, rgba(255, 255, 255, 0))), #295e16;
  background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 51.04%), #295e16;
  background: linear-gradient(360deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 51.04%), #295e16;
}

.btn:hover span:after {
  right: -35px;
}

._no-webp .main-page{
  background: url("../img/BG.png") right 0 no-repeat; }

.main-page__column {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 200px 0px 160px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.main-page__column h1 {
  font-size: 40px;
  line-height: 60px;
  color: #182c51;
  margin: 0px 0px 50px 0px;
}

.main-page__column h1 span {
  font-weight: 800;
}

.main-page__btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.devilopment {
  background-color: #f8f8f8;
}

.devilopment__container {
  padding: 45px 0px 45px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.devilopment__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 75%;
          flex: 1 1 75%;
  margin: 0px 60px 0px 0px;
}

.devilopment__column_s {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.devilopment__title {
  margin: 0px 0px 20px 0px;
}

.devilopment__text {
  font-size: 16px;
  line-height: 24px;
  color: #5a5a5a;
}

.devilopment__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.devilopment__list li {
  position: relative;
  padding: 0px 0px 0px 20px;
  margin: 0px 0px 40px 0px;
}

.devilopment__list li:last-child {
  margin-bottom: 0;
}

.devilopment__list li:before {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  top: 5px;
  left: 0px;
  background-color: #70c851;
}

.devilopment__list li:hover:before {
  background-color: #295e16;
}

.devilopment__link {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #182c51;
}

.devilopment__link:hover {
  text-decoration: underline;
}

.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #00293f;
}

.services__container {
  padding: 80px 0px 88px 0px;
}

.services__title {
  margin: 0px 0px 40px 0px;
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px -15px;
}

.services__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding: 0px 15px;
}

.item-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 20px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  height: 100%;
}

.item-services:hover {
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.377);
          box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.377);
}

.item-services_b {
  background: #c4d9f5;
}

.item-services_v {
  background: #e6ddf3;
}

.item-services_p {
  background: #f5d6d6;
}

.item-services__image {
  margin: 0px 0px 25px 0px;
}

.item-services__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  color: #182c51;
  margin: 0px 0px 25px 0px;
}

.item-services__text {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #5a5a5a;
  margin: 0px 0px 10px 0px;
}

.contacts {
  background-color: #f8f8f8;
  padding: 60px 0px 0px 0px;
  border-bottom: 1px solid #dee2e6;
}

.contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -10px;
}

.contacts__row:last-child {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.contacts__column {
  padding: 0px 10px;
}

.contacts__title {
  margin: 0px 0px 15px 0px;
}

.contacts__text {
  font-size: 16px;
  line-height: 24px;
  color: #5a5a5a;
  margin: 0px 0px 50px 0px;
}

.info-contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 320px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 25px 0px;
}

.info-contacts__image {
  margin: 0px 30px 0px 0px;
}

.info-contacts__link {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.info-contacts__link_b {
  font-weight: 500;
}

.image-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
}

._webp .btn span:after{ background: url(../img/arrow.webp) right 0 no-repeat; }

._webp .main-page{ background: url(../img/BG.webp) right 0 no-repeat; }